.title {
  height: 200px;
  background-color: cornflowerblue;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title p {
  font-size: 40px;
  text-transform: uppercase;
  color: white;
}

.productList {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.productItem {
  width: 20%;
  border-radius: 8px;
  border : 1px solid black;
  padding: 10px;
  margin: 10px;
}

.productItem:hover {
  box-shadow: 5px 5px 20px #888888;
  background-color: bisque;
}

.productItem img {
  width: 100%;
}

.productItem-price {
  display : flex ; 
  gap : 10px; 
  align-items: center;
  justify-content: center;
}

.productItem-content {
  text-align: center;
}

.productItem button {
  width: 100px;
  height: 30px;
  color: white;
  background-color: cornflowerblue;
}